
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495505502719'); /* IE9*/
  src: url('iconfont.eot?t=1495505502719#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495505502719') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495505502719') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495505502719#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-interactive:before { content: "\e704"; }

.icon-message:before { content: "\e70c"; }

