$gray:#808080;
$class-green:#369219;
@mixin border-btm {
  border-bottom: 0.1rem #dcdcdc solid;
}

@mixin wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .header {
      position: fixed;
      top: 0;
      height: 5rem;
      text-align: center;
    }
    .main{
          margin-top: 4rem;
    }
}
